<div class="add-client">
    <div class="header">
      <h1>Clients Information</h1>
      <button class="close-btn"><i class="fas fa-times"></i></button>
    </div>
    <div class="client-form">
      <div class="image-upload">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcse1vgSEqglbLyr11e0eZ8g_SxaGGHxHG-g&usqp=CAU" alt="Agregar Imagen">
        <button class="add-image"><i class="fas fa-plus">+</i></button>
      </div>
      <div class="form-fields">
        <label >First Name: </label>
        <input type="text" placeholder="First Name">
        <label >Last Name: </label>
        <input type="text" placeholder="Last Name">
        <label >Home Location: </label>
        <input type="text" placeholder="Home Location">
        <label >Work Location: </label>
        <input type="text" placeholder="WorkLocation">
      </div>
      <button class="add-btn">Agregar</button>
    </div>
  </div>
  